@media screen and (max-width: 768px) {
    body{
        background-position-x: right;
        background-size: inherit;   
    }
    .position-calculator{
        margin: auto;
        margin-top: 8%;
    }
}